body {
  padding-top: 75px;
}

div.authentication {
  width: 350px;
  margin: auto;
}

.button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: white;
  border: 2px solid #008CBA;
  color: black;
}

.button:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.search_input{
  /*position: relative;*/
  /*float: left;*/
  width: 300px;
  /*height: 30px;*/
  /*margin: 9px 0 0 10px;*/
  /*background-color: #f2f2f5;*/
  /*border: 1px solid #ccc;*/
}
.search_input:focus{
  width: 600px;
  outline-color: #eb7350;
}
.search_button{
  /*position: relative;*/
  /*display: inline-block;*/
  /*left: -30px;*/
  /*top: 9px;*/
}
.web_content{
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* main.html */
.post_title_area{
  position: relative;
  overflow: hidden;
  height: 21px;
  display: block;
}
.post_title{
  outline-style: none;
  line-height: 16px;
  font-family: Tahoma;
  float: left;
  width: 200px;
  height: 21px;
  color: #1b7fb6;
}
/*.post_input{
  width: 100%;
  height: 100px;
  padding-left: 0;
  padding-top: 0;
}
.post_input:focus{
  outline-color: #eb7350;
}*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.upload_area{
  position: relative;
  padding: 10px 0px;
}
.checkbox {
  float: right;
  margin-top: 0px;
}
.web_content .upload_area .post_left {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}
.web_content .upload_area .post_right {
  float: right;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
}

/* posts.html */
.web_content .posts{
  padding: 20px 50px;
  border-width:1px;
  border-style:solid;
  border-color:#E1E8ED;
  box-sizing:border-box;
  margin-bottom: 10px;
}
.web_content .posts:hover{
  background-color: #f5f8fa;
}
.web_content .posts .profile img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 10px;
}
.web_content .posts .profile a {
  text-decoration: none;
}
.web_content .posts .profile .displayname {
  font-size: 30px;
  font-weight: bold;
}
.web_content .posts .profile .time {
  font-size: 15px;
  float: right;
}
.web_content .posts .content p {
  font-size: 20px;
}
.web_content .posts .content img {
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.left-column {
  padding: 0;
}
.left-column-module {
  border-right: 1px solid rgba(217,217,217,1);
  border-left: 1px solid rgba(217,217,217,1);
  border-bottom: 1px solid rgba(217,217,217,1);
  border-radius: 4px;
  padding: 0;
  margin-bottom: 10px;
}
.left-column-module-header {
  background-color: #222222;
  box-shadow: 0 0 0 1px #222222;
  height: 34px;
  color: #9d9d9d;
  line-height: 34px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.left-column-module-header p {
  margin-left: 10px;
}
.friend-row {
  margin-bottom: 10px;
  height: 34px;
  margin: 10px;
}
.friend-row img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
}
.unfriend-btn {
  display: inline;
}
.unfriend-form {
  display: inline;
}
li.profile-icon:hover {
  background-color: #5c5c5c;
}
