body {
  padding-top: 75px;
}

div.authentication {
  width: 350px;
  margin: auto;
}

.button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: white;
  border: 2px solid #008CBA;
  color: black;
}

.button:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.search_input{
  width: 300px;
}
.search_input:focus{
  width: 600px;
  outline-color: #eb7350;
}
.web_content{
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* main.html */
.post_title_area{
  position: relative;
  overflow: hidden;
  height: 21px;
  display: block;
}
.post_title{
  outline-style: none;
  line-height: 16px;
  font-family: Tahoma;
  float: left;
  width: 200px;
  height: 21px;
  color: #1b7fb6;
}
#post_text:focus{
    height:300px;
}
/*.post_input{
  width: 100%;
  height: 100px;
  padding-left: 0;
  padding-top: 0;
}
.post_input:focus{
  outline-color: #eb7350;
}*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.upload_area{
  position: relative;
  padding: 10px 0px;
}
.checkbox {
  float: right;
  margin-top: 0px;
}
.web_content .upload_area .post_left {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}
.web_content .upload_area .post_right {
  float: right;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

/* posts.html */
.web_content .posts{
  padding: 20px 50px;
  border-width:1px;
  border-style:solid;
  border-color:#E1E8ED;
  box-sizing:border-box;
  margin-bottom: 10px;
}
.web_content .posts:hover{
  background-color: #f5f8fa;
}
.web_content .posts .profile img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 10px;
}
.web_content .posts .profile a {
  text-decoration: none;
}
.web_content .posts .profile .displayname {
  font-size: 30px;
  font-weight: bold;
}
.web_content .posts .profile .time {
  font-size: 15px;
  float: right;
}
.web_content .posts .content p {
  font-size: 20px;
}
.web_content .posts .content img {
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}




/* Comments on posts */
.web_content .comments{
  margin-top: 20px;
  padding: 20px 20px;
  border-width:2px;
  border-style: dotted;
  border-color: #E1E8ED;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #eee;
}
.web_content .show_comments{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.web_content .comments .commenter_profile img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}
.web_content .comments .commenter_profile a {
  text-decoration: none;
}
.web_content .comments .commenter_profile .displayname {
  font-size: 20px;
  font-weight: bold;
}
.web_content .comments .commenter_profile .time {
  font-size: 15px;
  float: right;
}
.web_content .comments .content p {
  font-size: 15px;
}
/* Comments on posts */




.left-column {
  padding: 0;
}
.left-column-module {
  border-right: 1px solid rgba(217,217,217,1);
  border-left: 1px solid rgba(217,217,217,1);
  border-bottom: 1px solid rgba(217,217,217,1);
  border-radius: 4px;
  padding: 0;
  margin-bottom: 10px;
}

.left-column-github {
  border-right: 1px solid rgba(217,217,217,1);
  border-left: 1px solid rgba(217,217,217,1);
  border-bottom: 1px solid rgba(217,217,217,1);
  border-radius: 4px;
  padding: 0;
  margin-bottom: 10px;
  height: 400px;
  overflow: scroll;
}

.left-column-module-header {
  background-color: #222222;
  box-shadow: 0 0 0 1px #222222;
  height: 34px;
  color: #9d9d9d;
  line-height: 34px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.left-column-module-header p {
  margin-left: 10px;
}
.friend-row {
  margin-bottom: 10px;
  height: 34px;
  margin: 10px;
}
.friend-row img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
}
.unfriend-btn {
  display: inline;
}
.unfriend-form {
  display: inline;
}
li.profile-icon:hover {
  background-color: #5c5c5c;
}

/* work only with edit in profile */
.edit_toggle{
    border: none;
	background-color: #e0e0e0;
 	color: black;
	margin:auto;
    text-align: center;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
	font-size: 18px;
	display: inline;
}
.edit_toggle:hover{background-color: #00bfff;}
.upload{
    border: none;
    text-align: center;
	background-color: #e0e0e0;
	margin:auto;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
	font-size: 18px;
	display: inline;
}
.upload:hover{	background-color: #00bfff;}
.delete{
    border: none;
    text-align: center;
	background-color: #e0e0e0;
	margin:auto;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
	font-size: 18px;
	display: inline;
}
.delete:hover{	background-color: #00bfff;}
table{
  	width: 500px;
    margin: auto;
}
th,tr {
	text-align: center;
}

.github p{
    padding: 20px 20px;
    border-width:1px;
    border-style:solid;
    border-color:#E1E8ED;
    box-sizing:border-box;
    margin-bottom: 10px;
}
