{% extends 'base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% block body %}
<div class="container">
    <p>Username: {{user_profile.username}}</p>
    <p>UUID: {{user_profile.author.uuid}}</p>
    <p>host: {{user_profile.author.host}}</p>
    <p>id: {{user_profile.author.id}}</p>
    {% cloudinary user_profile.author.photo %}
    <form action="{% url 'api:friend_request' user_profile.author.uuid %}" method="POST" id="add">
    	{% csrf_token %}
        <input type="submit" value="Add Friend" />
    </form>
</div>
{% endblock %}