{% extends 'base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% load tz %}
{% block body %}
<div class="web_content">
  <form action="{% url 'socialp2p:main' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="post_title_area">
      <div class="post_title">
        <p>
          <em>What's new you want to tell?</em>
        </p>
      </div>
      <div class="checkbox">
        <label><input id="post_markdown" name="markdown" type="checkbox" value="false"> Markdown?</label>
      </div>
    </div>
    <div>
      <input id="post_title" name="post-title" class="form-control"></input>
      <textarea name="content" class="post_input form-control" rows="4" id="post_text"></textarea>
    </div>
    <div class="upload_area">
      <input id="uploadFile" placeholder="Choose An Image" disabled="disabled" />
      <div class="fileUpload btn btn-primary post_left">
        <span>Browse</span>
        <input name="image" id="uploadBtn" type="file" class="upload" />
      </div>
      <div class="post_right">
        <select id="post_select" name="visibility">
          {% for choice in Post.Visibility_CHOICES %}
          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
          {% endfor %}
        </select>
        <select id="share_to" name="share_to" style="display: none">
          {% for author in authors %}
          {% if author.uuid != current_author.uuid %}
          <option value="{{ author.uuid }}">{{ author.displayname }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <button class="btn btn-default" type="submit" id="post_button">POST</button>
      </div>
    </div>
  </form>

  {% for post in posts %}
  <div class="posts" id="{{ post.uuid }}">
    <div class="profile">
      <a href="{% url 'socialp2p:profile' post.author.uuid%}">{% cloudinary post.author.photo %}</a>
      <a href="{% url 'socialp2p:profile' post.author.uuid%}"><strong class="displayname">{{ post.author.displayname }}</strong></a>
      <span class="time">{{ post.datetime|localtime }}</span>
    </div>
    <div class="content">
      <h2>{{ post.title }}</h2>
      {% if post.markdown %}
      <div class='markdown_post'>{{ post.content }}</div>
      {% else %}
      <div><p>{{ post.content }}</p></div>
      {% endif %}
      {% if post.image %}
      {% cloudinary post.image width=700 height=300 crop="fill" type="fetch" sign_url=True %}
      {% endif %}
    </div>
    <button class="btn btn-default show_comments">Show Comments</button>
    <div class="comments" style='display: none'>
      {% for comment in comments %}
        {% if comment.post.uuid == post.uuid %}
          <div class="commenter_profile">
            <a href="{% url 'socialp2p:profile' comment.author.uuid%}">{% cloudinary comment.author.photo %}</a>
            <a href="{% url 'socialp2p:profile' comment.author.uuid%}"><strong class="displayname">{{ comment.author.displayname }}</strong></a>
            <span class="time">{{ comment.datetime|localtime }}</span>
          </div>
          <div class="content">
            <p>{{ comment.content }}</p>
          </div>
        {% endif %}
      {% endfor %}
      <!-- Add new comment -->
      <form action="{% url 'socialp2p:new_comment' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="content" class="post_input form-control" placeholder="Add comment here ..." rows="2" id="comment_text"></textarea>
        <input type="text" name="post" value="{{ post.uuid }}" style="display:none">
        <button class="btn btn-default" type="submit" id="comment_button">Reply</button>
      </form>
    </div>
  </div>
  {% endfor %}

  <!-- pull remote posts -->
  {% for post in remote_posts %}
  <div class="posts" id="{{ post.uuid }}">
    <div class="profile">
      <a href="{% url 'socialp2p:profile' post.author.id %}">{% cloudinary post.author.photo %}</a>
      <a href="{% url 'socialp2p:profile' post.author.id %}"><strong class="displayname">{{ post.author.displayname }} {{ post.author.displayName }}</strong></a>
      <span class="time">{{ post.datetime|localtime }}</span>
    </div>
    <div class="content">
      <h2>{{ post.title }}</h2>
      {% if post.markdown %}
      <div class='markdown_post'>{{ post.content }}</div>
      {% else %}
      <div><p>{{ post.content }}</p></div>
      {% endif %}
      {% if post.image %}
      {% cloudinary post.image width=700 height=300 crop="fill" %}
      {% endif %}
    </div>
    <button class="btn btn-default show_comments">Show Comments</button>
    <div class="comments" style='display: none'>
	  {% for comment in post.comments %}
          <div class="commenter_profile">
            <!-- this needs to be fixed -->
	    <a href="{% url 'socialp2p:profile' comment.author.id%}"><strong class="displayname">{{ comment.author.displayName }} {{ comment.author.displayname }}</strong></a>
            <span class="time">{{ comment.published }}</span>
          </div>
          <div class="content">
            <p>{{ comment.comment }}</p>
          </div>
      {% endfor %}
      <!-- Add new comment -->
      <form action="{% url 'socialp2p:new_comment' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="content" class="post_input form-control" placeholder="Add comment here ..." rows="2" id="comment_text"></textarea>
        <input type="text" name="post" value="{{ post.uuid }}" style="display:none">
        <button class="btn btn-default" type="submit" id="comment_button">Reply</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
<script>
document.getElementById("uploadBtn").onchange = function () {
  document.getElementById("uploadFile").value = this.value.replace(/.*[\/\\]/, '');
};
document.getElementById("post_select").onchange = function () {
  console.log(document.getElementById("post_select").value);
  if (document.getElementById("post_select").value == 'ONL') {
    document.getElementById("share_to").style.display = '';
  } else {
    document.getElementById("share_to").style.display = 'None';
    document.getElementById("share_to").value = '';
  }
};
$(".show_comments").click(function() {
  if ($(this).siblings(".comments").is(":hidden")) {
    $(this).text("Hide Comments");
  } else {
    $(this).text("Show Comments");
  }
  $(this).siblings(".comments").slideToggle();
});
$( document ).ready(function() {
  $(".markdown_post").each(function(){
    var reader = new commonmark.Parser();
    var writer = new commonmark.HtmlRenderer();
    var parsed = reader.parse($(this).text());
    var result = writer.render(parsed);
    $(this).html(result);
  });
});
</script>
{% endblock %}
