{% extends 'base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% load tz %}
{% block body %}
<div class="web_content">
  {% for post in posts %}
  <div class="posts">
    <div class="profile">
      <a href="{% url 'socialp2p:profile' post.author.displayname%}">{% cloudinary post.author.photo %}</a>
      <a href="{% url 'socialp2p:profile' post.author.displayname%}"><strong class="displayname">{{ post.author.displayname }}</strong></a>
      <span class="time">{{ post.datetime|localtime }}</span>
    </div>
    <div class=content>
      <p>{{ post.content }}</p>
      {% if post.image %}
        {% cloudinary post.image width=700 height=300 crop="fill" %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
