{% extends 'base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% load tz %}
{% block body %}
<div class="container">
    <div class="col-md-3 left-column">
        <div class="left-column-module">
            <div class="left-column-module-header friends-section">
                <p>Friends</p>
            </div>
            {% for friend in user.author.friends.all %}
                <div class="friend-row">
	            <a href="{% url 'socialp2p:profile' friend.displayname%}">{% cloudinary friend.photo %}<strong class="displayname">{{ friend.displayname }}</strong></a> 
                    <form class="unfriend-form pull-right" action="{% url 'api:friends' friend.uuid %}" method="POST" id="delete">
                        {% csrf_token %}
                        <input class="btn btn-default unfriend-btn" type="submit" value="Unfriend" name="delete"/>
                    </form>
                </div>
            {% endfor %}
            {% if user.author.friends.all|length == 0 %}
                <div class="friend-row">
                    <p>No Friends</p>
                </div>
            {% endif %}
        </div>

        <div class="left-column-module friends-requests-section">
            <div class="left-column-module-header">
                <p>Friend Requests</p>
            </div>
            {% for b in requests %}
                <div class="friend-row">
 		    <a href="{% url 'socialp2p:profile' b.requester.displayname%}">{% cloudinary b.requester.photo %}<strong class="displayname">{{ b.requester.displayname }}</strong></a>
                    <form class="pull-right" action="{% url 'api:friends' b.requester.uuid %}" method="POST" id="accept">
                        {% csrf_token %}
                        <input class="btn btn-default" type="submit" value="Accept" name="accept"/>
                    </form>
                </div>
            {% endfor %}
            {% if requests|length == 0 %}
                <div class="friend-row">
                    <p>No Friend Requests</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-9">
        <form action = "{% url 'api:author_detail' user.author.uuid %}" method="POST" id="edit" enctype="multipart/form-data">
	{% csrf_token %}
        <table style='width:100%'>
            <tr>
                <td><p>Username:</p></td>
                <td><input type="text" value='{{user.username}}' disabled="disabled"/></td>
                <td><p>Email: </p></td>
                <td><input type="text" value='{{user.email}}' name="edit_email" /></td>
                
            </tr>
            <tr>
                <td><p>First Name: </p></td>
                <td><input type="text" value='{{user.first_name}}' name="edit_firstname" /></td>
                <td><p>Last Name: </p></td>
                <td><input type="text" value='{{user.last_name}}' name="edit_lastname" /></td>
            </tr>
            <tr>
                <td colspan='2'><P> Pending Friend Requests/Following: </P></td>
                <td>
                    <select>
                        {% for a in follow %}
                        <option>{{a.receiver.displayname}}</option>
                        {% endfor %}
                        {% if follow|length == 0%}
                        <option> None </option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td ><p>Profile Picture: </p></td>
                <td colspan='2'><input id="uploadFile" placeholder="Choose An Image" disabled="disabled" />
                    <div class="fileUpload btn btn-primary post_left">
                        <span>Browse</span>
                        <input name="edit_pic" id="uploadBtn" type="file" class="upload" />
                    </div>
                </td>
            </tr>

        </table>

    {% cloudinary user.author.photo %}
    <br></br>
	<input class="upload" type="submit" value="Save" />
	</form>
	<script type='text/javascript'>
	//http://stackoverflow.com/questions/5100539/django-csrf-check-failing-with-an-ajax-post-request
    	$(document).ready(function() {      
	    var edit_firstname = "{{user.first_name}}"
	    var user_id = "{{user.author.uuid}}"
	    $.ajaxSetup({ 
	        beforeSend: function(xhr, settings) {
		    function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
		        // Only send the token to relative URLs i.e. locally.
		        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		    }
	        } 
	    });
            $('#edit').ajaxForm({
	    });
        });
	</script>
    <script>
        //The same scrpit from main.html
        document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.value.replace(/.*[\/\\]/, '');
    };
    </script>
    </div>
</div>
<div class="web_content">
    {% for post in posts %}
    <div class="posts">
        <div class="profile">
            <a href="{% url 'socialp2p:profile' post.author.displayname%}">{% cloudinary post.author.photo %}</a>
            <a href="{% url 'socialp2p:profile' post.author.displayname%}"><strong class="displayname">{{ post.author.displayname }}</strong></a>
            <span class="time">{{ post.datetime|localtime }}</span>
        </div>
        <div class=content>
            <p>{{ post.content }}</p>
            {% if post.image %}
            {% cloudinary post.image width=700 height=300 crop="fill" %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
