{% load staticfiles %}
{% load cloudinary %}
<!DOCTYPE html>
<html>
<head>
<title>socialp2p</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="{% static 'ajax-form.js' %}"></script>
<script src="{% static 'lib/commonmark.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" >
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" width="300px" href="{% url 'socialp2p:main' %}">socialp2p</a>
            </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="search_input form-control" id="search_text" placeholder="Search">
                </div>
                <a class="search_button" href="#" id="search_submit"><img src="{% static 'img/search_icon.png' %}" width="30px" height="30px"></a>
            </form>
             <ul class="nav navbar-nav navbar-right">
                <li class="profile-icon"><a href="{% url 'socialp2p:profile' user.username %}">{% cloudinary user.author.photo width=20 class='profile-navbar' %}</a></li>
                <li><a href="{% url 'socialp2p:logout' %}">Log Out</a></li>
            </ul>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

</body>
</html>
